.Columns-wrap {
  display: flex;
}

.Column {
  background: #eee;
  flex: 1;
  list-style-type: none;
  margin: 0 0.25em;
}

.Column:first-child {
  margin-left: 0;
}

.Column:last-child {
  margin-right: 0;
}