button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  background: linear-gradient(to bottom, #666, #444);
  border: 1px solid black;
  color: #eee;
  padding: 0 1em;
  text-transform: uppercase;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

button,
input,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  -webkit-appearance: none;
  border: 1px solid #ccc;
  font-size: 1em;
  height: 2em;
  margin-bottom: 1em;

  &:last-of-type {
    margin-left: 0.5em;
  }
}
