a.button {
  line-height: 1.75em;
}

.button,
button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  background: linear-gradient(to bottom, #666, black);
  border: none;
  color: #eee;
  display: inline-block;
  font-weight: 600;
  outline: none;
  padding: 0 0.75em;
  text-align: center;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.button,
button,
input,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  -webkit-appearance: none;
  font-size: 1em;
  height: 2em;

  &:first-of-type {
    margin-left: 0 !important;
  }

  &:last-of-type {
    margin-left: 0.5em;
  }
}

input {
  border: 1px solid #ccc;
}
