a.button {
  line-height: 1.75em;
}

.button,
button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  background: linear-gradient(to bottom, #666, black);
  border: none;
  color: #eee;
  display: inline-block;
  font-weight: 600;
  outline: none;
  padding: 0 0.75em;
  text-align: center;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.button,
button,
input,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  -webkit-appearance: none;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 1em;
  height: 2em;

  &:first-of-type {
    margin-left: 0 !important;
  }

  &:last-of-type {
    margin-left: 0.5em;
  }
}

input[type='password'],
input[type='search'],
input[type='text'] {
  padding: 0 0.5em;
  width: 100%;
}

input,
textarea {
  border: 1px solid #ccc;
}

form .form-row {
  display: flex;
  margin-bottom: 1em;
}
