.table {
  box-shadow: 0 0px 10px rgba(0,0,0,0.3);
}

.table-header {
  @extend .clearfix;
  align-items: center;
  background: #ccc;
  display: flex;
  padding: 0.5em 1em;
}

.table-title {
  line-height: 1.5em;
}

.table-action {
  display: flex;
  justify-content: flex-end;
}

.table-action,
.table-title {
  flex: 1;
}

table {
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

thead {
  border-bottom: 1px solid #ccc;
  color: #444;
}

td,
th {
  background: inherit;
  background-color: inherit;
  height: 3em;
  overflow: hidden;
  padding: 1em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr {
  border-bottom: 1px solid #ccc;
  height: 3em;
}

tbody > tr:last-of-type {
  border-bottom: none;
}
