@import 'styles/index';

html {
  background: #ececec;
	color: #666;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

body,
html {
  height: 100%;
}

body {
  overflow: hidden;
}

#root {
  height: inherit;
}
